{% seo %}

<meta name="theme-color" content="#2c1e14">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/images/favicon.png' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/images/favicon.png' | relative_url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">

<link rel="preload" href="{{ '/fonts/montserrat-latin.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ '/fonts/lora-latin.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
